%h3= t.nav.browse
%ul
	- catalogs.each do |catalog| 
		%a{ :href => url("/catalog/#{catalog.uuid}") }
			%li= catalog.title
%h3= t.nav.locale
%ul
	- r18n.available_locales.reject { |l| l.code == r18n.locale.code }.each do |locale|
		%li
			%a{ :href => url("#{request.path_info}?locale=#{locale.code}") }= locale.title