%article.catalog{ :id => feed.id }
	%header
		%hgroup
			%h1= feed.title
		%time{ :datetime => feed.updated, :style => 'display: none;' }= l feed.updated, '%A, %b %d %Y'
	%p{ :style => 'display: none;' }= feed.subtitle
	%nav
		%ul
			- feed.entries.each do |entry|
				%li
					%a{ :href => "##{entry.id}" }= entry.title
	- feed.entries.each do |entry|
		= haml :"entries/feed", :locals => { :entry => entry, :feed => feed }
	%footer
		%address
			%a{ :href => "mailto:#{feed.author_email}" }= feed.rights
