%article.hentry{ id: entry.id, class: entry.episode? ? 'episode' : nil }
	%div
		- if entry.episode?
			%a.close{ href: '#' } close
		%header
			%h1.entry-title 
				- if entry.episode?
					= entry.title
				- else
					%a{ href: entry.path }= entry.title
			%p.entry-metadata
				- if entry.episode?
					%a{ href: "/user_atom_feeds/#{escape(entry.author_name)}" }
						%span.fn= entry.author_name
				Published
				%time.published{ pubdate: true, datetime: entry.published }= entry.published.strftime('%A, %b %d')
				Updated
				%time.updated{ datetime: entry.updated }= entry.updated.strftime('%A, %b %d')
		.entry-content 
			%figure
				%img{ src: entry.link('related')['href'], height: '', width: '', style: 'display:none;' }
				- if entry.episode?
					%p
						- unless entry.video_enclosures.empty?
							%video{ controls: true, preload: 'none', poster: entry.link('related')['href'] }
								- entry.video_enclosures.each do |enclosure|
									%source{ src: enclosure['href'] }/
						- unless entry.audio_enclosures.empty?
							%audio{ controls: true, preload: 'none' }
								- entry.audio_enclosures.each do |enclosure|
									%source{ src: enclosure['href'] }/
		.entry-summary= entry.summary
		%footer
			- if entry.keywords
				%nav
					%ul.entry-keywords
						- entry.keywords.each do |keyword|
							%li.entry-keyword
								%a{ href: "/keyword_atom_feeds/#{escape(keyword)}", rel: 'tag' }= keyword
			- if entry.subscribable?
				%a{ href: entry.link('alternate')['href'].gsub(/http/, 'itpc') } Subscribe in iTunes
			- if entry.episode?
				%hr
				%section.entry-comments
					- entry.comments.each do |comment|
						%article
							%header
								%h1= comment.author
								%time.published{ pubdate: true, datetime: comment.created_at }= comment.created_at.strftime('%A, %b %d')
							%p= comment.content
					%form{ action: '/comments', method: 'post' }
						%input{ type: 'hidden', name: 'entry_id', value: entry.id }
						%ul
							%li
								%label{ for: 'author' } Author
								%input{ type: 'text', name: 'author', placeholder: 'Author', required: true }
							%li
								%label{ for: 'content' } Content
								%textarea{ name: 'content', name: 'content', placeholder: 'Comment', required: true }
							%li
								%input{ type: 'submit', value: 'Comment' }