%article.feed{ id: feed.id }
	%header
		%figure
			%img{ src: feed.logo}
		%hgroup
			%h1= feed.title
			%a{ href: feed.link('self')['href'].gsub(/http/, 'itpc') }
				Abonner i iTunes
		%time{ datetime: feed.updated }= feed.updated.strftime('%A, %b %d')
		%p= feed.subtitle
	%nav
		%input.playAll{ type: 'button', value: 'Afspil alle' }
		%h2 Genveje til udsendelser 
		%ul
			- feed.entries.each do |entry|
				%li
					%a{ href: "##{entry.id}" }= entry.title
					= '(' + entry.enclosures.first['duration'] + ')'
	- feed.entries.each do |entry|
		= haml :"entries/episode", locals: { entry: entry }
	%footer
		%address
			%a{ href: "mailto:#{feed.author_email}" }= feed.rights
	
		