%section.hfeed{ id: feed.id, class: feed.catalog? ? 'catalog' : nil }
	%aside
		%figure
			%img{ src: feed.logo, height: '', width: '' }
	%header
		%h1.feed-title= feed.title
		%h2.feed-subtitle= feed.subtitle
		%time.updated{ datetime: feed.updated }= feed.updated.strftime('%A, %b %d')
		- if feed.subscribable?
			%a{ href: feed.link('self')['href'].gsub(/http/, 'itpc') } Subscribe in iTunes
	%nav
		%ul
			- feed.entries.each do |entry|
				%li
					%a{ href: "##{entry.id}" }= entry.title
	.feed-content
		- feed.entries.each do |entry|
			= haml :entry, locals: { entry: entry }
	%footer
		
		