%article.feed{ :id => feed.id }
	%header
		%figure
			%img{ :src => feed.logo, :height => 144, :width => 144 }
		%hgroup
			%h1= feed.title
			%a{ :href => feed.link('self')['href'].gsub(/http/, 'itpc') }
				%small= t.feed.subscribe
		%time{ :datetime => feed.updated }= l feed.updated, '%A, %b %d %Y'
		%p= feed.subtitle
	%nav
		%input.playAll{ :type => 'button', :value => t.feed.play_all }
		%h2= t.feed.links_to_programs 
		%ul
			- feed.entries.each do |entry|
				%li
					%a{ :href => "##{entry.id}" }= entry.title
					|
					// %small= '(' + entry.enclosures.first['duration'] + ')'
	- feed.entries.each do |entry|
		= haml :"entries/episode", :locals => { :entry => entry }
	%footer
		%address
			%a{ :href => "mailto:#{feed.author_email}" }= feed.rights
	
		