!!! 5
%html{ :lang => session[:locale] }
	%head
		%meta{ :charset => "utf-8" }/
		
		%meta{ :content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible" }/
		
		%title= @title || 'Alarm'
		%meta{ :content => "An Internet Portal for the Podcast Producer Feed Library", :name => "description" }/
		%meta{ :content => "Jamie Hodge", :name => "author" }/
		
		%meta{ :content => "width=device-width, initial-scale=1.0", :name => "viewport" }/
		
		:javascript
			document.documentElement.className = "js";
		
		%link{ :href => url_for("/stylesheets/screen.css?v=1"), :media => "all", :rel => "stylesheet" }/
		
		%script{ :src => url_for("/javascripts/modernizr.min.js") }
	%body{ :lang => session[:locale] }
		#page
			#slideshow
				- Comment.all[0..19].each do |comment|
					%a{ :href => comment.permalink }
						%blockquote
							= '&#8220;' + comment.content[0..200] + '...&#8221;'
							= comment.author
			%header
				%hgroup
					%a{ :href => url_for('/') }
						%h1= root.title
					%h2= root.subtitle
			%aside
				%h2= t.nav.latest
				= haml :latest, :locals => { :latest => latest }
			#content
				#main
					= yield
			%nav
				%h2= t.nav.browse
				%ul
					- root.entries[0..-3].each do |entry|
						%li
							%a{ :href => entry.path }= entry.title
			%a{ :href => 'http://www.larm-archive.org' }
				%img{ :src => 'http://larm.media.hum.ku.dk/wp-content/themes/larm/images/logo.png' }
			%footer
				%address
					%a{ :href => "mailto:#{root.author_email}" }= root.rights
					
					
					
		%script{ :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" }

		%script{ :src => url_for("/javascripts/script.js?v=1") }
		
		%script{ :src => url_for("/javascripts/jquery.collapse.js?v=1") }
		%script{ :src => url_for("/javascripts/jquery.cookie.js?v?=1") }
		
		%script{ :src => url_for("/javascripts/jquery.cycle.lite.min.js?v=1") }
		
		:javascript
			var _gaq = [['_setAccount', 'UA-XXXXX-X'], ['_trackPageview']];
			(function(d, t) {
				var g = d.createElement(t),
					s = d.getElementsByTagName(t)[0];
				g.async = true;
				g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				s.parentNode.insertBefore(g, s);
			})(document, 'script');