%p
	%a.twitter-share-button{ :href => 'http://twitter.com/share', :'data-url' => url("/feeds/#{feed.uuid}##{episode.uuid}"),  :'data-counturl' => url("/feeds/#{feed.uuid}/episodes/#{episode.uuid}"), :'data-count' => 'horizontal' } Tweet
%p
	%iframe{ :src => "http://www.facebook.com/plugins/like.php?href=#{CGI.escapeHTML(url("/feeds/#{feed.uuid}##{episode.uuid}"))}&amp;layout=standard&amp;show_faces=true&amp;width=450&amp;action=like&amp;font&amp;colorscheme=light&amp;height=80", :scrolling => 'no', :frameborder => '0', :style => 'border:none; overflow:hidden; width:450px; height:80px;', :allowTransparency => 'true' }

