%article.episode{ :id => episode.uuid }
	%header
		%hgroup
			%h2.title{ :contenteditable => true }= episode.title
			%p
				%small
					%time{ :time => episode.updated.strftime('%y-%m-%d'), :pubdate => true }= l episode.updated, :human
		%figure		
			%p
				%img{ :src => episode.related_link['href'], :width => '100%' }
	= haml :'episodes/_enclosures', :locals => { :episode => episode }
	%p.description{ :contenteditable => true }= episode.summary
	= haml :'episodes/_social', :locals => { :feed => feed, :episode => episode }
	%details
		%summary= t.feed.episode.comments.count(episode.comments.count)
		%section
			- episode.comments.each do |comment|
				= haml :'comments/show', :locals => { :comment => comment }
			= haml :'comments/new', :locals => { :feed => feed, :episode => episode }