%article.episode.embed{ :id => episode.uuid }
	%header
		%h3
			%a{ :href => url("/feeds/#{feed.uuid}/episodes/#{episode.uuid}"), :target => '_blank' }= episode.title
	%footer
		%h4
			%a{ :href => url("/users/#{episode.author_name}"), :target => '_blank' }= episode.author_name
	= haml :'episodes/_embed_enclosures', :locals => { :episode => episode }
	%nav
		%small
			%a{ :href => base_url, :target => '_blank' }= t.nav.more