%article.episode{ :id => episode.uuid }
	%header
		%hgroup
			%h2
				%a{ :href => url("/feeds/#{feed.uuid}/episodes/#{episode.uuid}") }= episode.title
			%h3
				%a{ :href => url("/users/#{episode.author_name}") }= episode.author_name
			%p
				%small
					%time{ :time => episode.updated.strftime('%y-%m-%d'), :pubdate => true }= l episode.updated, :human
		%figure{ :style => 'display: none;' }		
			%p
				%img{ :src => episode.related_link['href'], :width => '100%' }
	= haml :'episodes/_enclosures', :locals => { :episode => episode }
	%p= h episode.summary
	%footer
		- if episode.itunes_keywords
			%nav
				%ul
					- episode.itunes_keywords.split(',').each do |keyword|
						%li
							%a{ :href => url("/keywords/#{keyword.strip}") }= keyword
	%details.embed
		%summary= t.feed.episode.embed
		%section
			%input{ :type => 'text', :value => "<iframe seamless width=500 height=190 frameborder=0 scrolling=no src=#{url('/feeds/#{feed.uuid}/episodes/#{episode.uuid}/embed')}></iframe>" }
	%details.download
		%summary= t.feed.episode.download
		%ul
			- episode.enclosure_links.each do |enclosure|
				%li
					%a{ :href => enclosure['href'] }= enclosure['title']
	= haml :'episodes/_social', :locals => { :feed => feed, :episode => episode }
	%details
		%summary= t.feed.episode.comments.count(episode.comments.count)
		%section
			- episode.comments.each do |comment|
				= haml :'comments/show', :locals => { :comment => comment }
			= haml :'comments/new', :locals => { :feed => feed, :episode => episode }