%article.episode{ :id => episode.uuid }
	%header
		%hgroup
			%h2
				%a{ :href => "/feeds/#{feed.uuid}/episodes/#{episode.uuid}" }= episode.title
			%p
				%small
					%time{ :time => episode.updated.strftime('%y-%m-%d'), :pubdate => true }= episode.updated.strftime('%A, %b %d %Y')
		%aside		
			%p
				%img{ :src => episode.related_link['href'], :width => '100%' }
	= haml :'episodes/_enclosures', :locals => { :episode => episode }
	%p= h episode.summary
	%footer
		%nav
			%ul
				- episode.itunes_keywords.split(',').each do |keyword|
					%li
						%a{ :href => "/keywords/#{keyword.strip}" }= keyword
	= haml :'episodes/_social', :locals => { :feed => feed, :episode => episode }
	%details
		%summary= t.feed.episode.comments.count(episode.comments.count)
		%section
			- episode.comments.each do |comment|
				= haml :'comments/show', :locals => { :comment => comment }
			= haml :'comments/new', :locals => { :feed => feed, :episode => episode }