%details.comments
	%summary= t.feed.entry.comments.count(entry.comments.count)
	%section
		- entry.comments.each do |comment|
			%article
				%header
					%figure
						%img{ :src => comment.avatar_url }
					%h1= escape_html(comment.author)
					%time{ :pubdate => true, :datetime => comment.created_at }= l Time.parse(comment.created_at), '%A, %b %d %Y'
				%p= escape_html(comment.content)
		%form{ :action => url_for('/comments'), :method => 'post' }
			%input{ :type => 'hidden', :name => 'entry_id', :value => entry.id }
			%ul
				%li
					%label{ :for => 'author' }= t.feed.entry.comments.author
					%input{ :type => 'text', :name => 'author', :placeholder => t.feed.entry.comments.author, :required => true }
				%li
					%label{ :for => 'email' }= t.feed.entry.comments.email
					%input{ :type => 'text', :name => 'email', :placeholder => t.feed.entry.comments.email, :require => true }
				%li
					%label{ :for => 'content' }= t.feed.entry.comments.content
					%textarea{ :name => 'content', :name => 'content', :placeholder => t.feed.entry.comments.content, :required => true }
				%li
					%input{ :type => 'submit', :value => t.feed.entry.comments.submit }
	