%details.comments
	%summary= t.feed.entry.comments.count(entry.comments.count)
	%section
		- entry.comments.each do |comment|
			%article
				%header
					%h1= comment.author
					%time{ :pubdate => true, :datetime => comment.created_at }= l comment.created_at, '%A, %b %d %Y'
				%p= comment.content
		%form{ :action => '/comments', :method => 'post' }
			%input{ :type => 'hidden', :name => 'entry_id', :value => entry.id }
			%ul
				%li
					%label{ :for => 'author' }= t.feed.entry.comments.author
					%input{ :type => 'text', :name => 'author', :placeholder => t.feed.entry.comments.author, :required => true }
				%li
					%label{ :for => 'content' }= t.feed.entry.comments.content
					%textarea{ :name => 'content', :name => 'content', :placeholder => t.feed.entry.comments.content, :required => true }
				%li
					%input{ :type => 'submit', :value => t.feed.entry.comments.submit }
	