%section.social
	%a.twitter-share-button{ :href => 'http://twitter.com/share', :'data-count' => 'horizontal', :'data-url' => "#{request.url}##{entry.id}", :'data-text' => entry.title, :'data-counturl' =>  "#{request.url}##{entry.id}" } Tweet
	%script{ :type => 'text/javascript', :src => 'http://platform.twitter.com/widgets.js' }
	%iframe{ :src => "http://www.facebook.com/plugins/like.php?href=http%3A%2F%2F#{request.url}%23#{entry.id}%2Fpage%2Fto%2Flike&amp;layout=button_count&amp;show_faces=false&amp;width=128&amp;action=like&amp;colorscheme=light&amp;height=21", :scrolling => 'no', :frameborder => 0, :style => 'border:none; overflow:hidden; width:128px; height:21px', :allowTransparency => 'true' }