%article.entry{ :id => entry.id }
	%nav
		%a{ :href => '#' } ▲
	%header
		%h1= entry.title
		%a{ :href => url_for("/user_atom_feeds/#{escape(entry.author_name)}") }= entry.author_name
		%p
			%time{ :pubdate => true, :datetime => entry.published }= l entry.published, '%A, %b %d %Y'
			%time{ :datetime => entry.updated, :style => 'display:none;'  }= l entry.updated, '%A, %b %d %Y'
	%figure
		= haml :"entries/_enclosure", :locals => { :entry => entry }
	%p= entry.summary
	%footer
		= haml :"entries/_keyword", :locals => { :entry => entry }
		// = haml :"entries/_social", :locals => { :entry => entry }
		= haml :"entries/_comment", :locals => { :entry => entry }
	