%article.entry{ id: entry.id }
	%nav
		%ul
			%li
				%a{ href: '#' } ▲
			%li
				%a{ href: entry.link('alternate')['href'].gsub(/http/, 'itpc') } 
					Abonner in iTunes
	%header
		%figure
			%img{ src: entry.link('related')['href'] }
		%h1 
			%a{ href: entry.path }= entry.title
		%p
			%time{ pubdate: true, datetime: entry.published }= entry.published.strftime('%A, %b %d')
			%time{ datetime: entry.updated }= entry.updated.strftime('%A, %b %d')
	%p= entry.summary
	%footer
		%address
			%a{ href: "mailto:#{feed.author_email}" }= feed.rights
		
		
		