%article.entry{ :id => entry.id }
	%nav
		%ul
			%li
				%a{ :href => '#' } ▲
			%li
				
	%header
		%figure
			%img{ :src => entry.link('related')['href'], :width => 116, :height => 116 }
		%hgroup
			%h1 
				%a{ :href => url_for(entry.path) }= entry.title
			%a{ :href => entry.link('alternate')['href'].gsub(/http/, 'itpc') } 
				%small= t.feed.subscribe
		%p
			%time{ :pubdate => true, :datetime => entry.published }= l entry.published, '%A, %b %d %Y'
			%time{ :datetime => entry.updated }= l entry.updated, '%A, %b %d %Y'
	%p= entry.summary
	%footer
		%address
			%a{ :href => "mailto:#{feed.author_email}" }= feed.rights
		
		
		