%article.feed{ :id => feed.uuid }
	%header
		%hgroup
			%h1.name{ :contenteditable => true }= feed.title
			%p.description{ :contenteditable => true }= feed.subtitle
			%p
				%small
					%time{ :time => feed.updated.strftime('%y-%m-%d'), :pubdate => true }= l feed.updated, :human
		%figure		
			%p
				%img{ :src => feed.logo }
			%p
				%form{ :action => url("/feeds/#{feed.uuid}/image"), :method => 'post', :enctype => 'multipart/form-data' }
					%input{ :type => 'hidden', :name => '_method', :value => 'put' }
					%input{ :type => 'file', :name => 'file' }
					%input{ :type => 'submit', :value => 'Upload' }
	-# %button{ :type => 'button' }= t.feed.play_all
	- feed.entries.each do |episode|
		= haml :'episodes/edit', :locals => { :feed => feed, :episode => episode }