%article.feed
	%header
		%hgroup
			%h1= feed.title
			%p= feed.subtitle
			%p
				%small
					%time{ :time => feed.updated.strftime('%y-%m-%d'), :pubdate => true }= feed.updated.strftime('%A, %b %d %Y')
		%aside		
			%img{ :src => feed.logo, :width => '100%' }
	%button{ :type => 'button' }= t.feed.play_all
	- feed.entries.each do |episode|
		= haml :'episodes/show', :locals => { :feed => feed, :episode => episode }