%article.feed
	%header
		%hgroup
			%h1= feed.title
			%p= feed.subtitle
			%p
				%small
					%time{ :time => feed.updated.strftime('%y-%m-%d'), :pubdate => true }= feed.updated.strftime('%A, %b %d %Y')
					| 
					%a{ :href => feed.self_link['href'].sub(/http:\/\//, 'itpc://' ) }= t.feed.subscribe
			%p#play_all
				%button{ :type => 'button' }= t.feed.play_all
		%figure		
			%img{ :src => feed.logo, :width => '100%' }
	- feed.entries.each do |episode|
		= haml :'episodes/show', :locals => { :feed => feed, :episode => episode }